{
  "name": "minionarte",
  "version": "1.0.0",
  "main": "app.js",
  "type": "module",
  "scripts": {
    "start": "npm run setup-dev-db && node ./index.js",  // Ejecuta setup de la DB y luego el servidor
    "dev": "npm run setup-dev-db && nodemon ./index.js", // Ejecuta setup y nodemon para desarrollo
    "setup-dev-db": "node setupDevDatabase.js",          // Crea la base de datos de desarrollo
    "setup-test-db": "node setupTestDatabase.js",        // Crea la base de datos de pruebas
    "test": "npm run setup-test-db && cross-env NODE_ENV=test node --experimental-vm-modules node_modules/jest/bin/jest.js --watchAll --no-cache" // Ejecuta las pruebas después de crear la base de datos de test
  },
  "keywords": [],
  "author": "",
  "license": "ISC",
  "description": "",
  "dependencies": {
    "cors": "^2.8.5",
    "dotenv": "^16.4.5",
    "express": "^4.21.0",
    "express-validator": "^7.2.0",
    "mysql2": "^3.11.3",
    "sequelize": "^6.37.3"
  },
  "devDependencies": {
    "@types/express": "^5.0.0",
    "@types/supertest": "^6.0.2",
    "cross-env": "^7.0.3",
    "jest": "^29.7.0",
    "nodemon": "^3.1.7",  // Mantener nodemon para desarrollo
    "supertest": "^7.0.0"
  }
}
